{% extends 'base/base_nav.html' %}
{% load i18n %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/product_card.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% csrf_token %}
{% block content %}
<div class="container my-5">
    <div class="row">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://salt.tikicdn.com/cache/w1080/ts/banner/99/69/2d/d7a7e95c675db4c4071b24b85d9a018b.png.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://salt.tikicdn.com/cache/w1080/ts/banner/e7/84/12/bf33891bc65f15d23e3ec010e5c2f6f1.png.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://salt.tikicdn.com/cache/w1080/ts/banner/ef/da/3e/f688a722027dd2354ccde5355b863856.png.webp" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<div class="container">
    <div class="my-5 pt-3 border-top">
        {% if not user.is_authenticated %}
            {% trans 'Popularity recomendation' as title1 %}
        {% else %}
            {% trans 'Recommend products pearson' as title1 %}
        {% endif %}
        {% include 'components/products_set.html' with id="trend" title=title1 des=des1 products_set=recommended_products %}
    </div>



    {% comment %} <div class="my-5 pt-3 border-top">
        {% trans 'Most viewers' as title1 %}
        {% include 'components/products_set.html' with id="view" title=title1 des=des1 products_set=most_viewed_products %}
    </div> {% endcomment %}
    
    {% comment %} <div class="my-5 pt-3 border-top">
        {% trans 'Best seller' as title1 %}
        {% trans 'Top products of this week' as des1 %}
        {% include 'components/products_set.html' with id="sell" title=title1 des=des1 products_set=recommended_products %}    
    </div>     {% endcomment %}
    
</div>
{% include 'components/quick_modal.html' %}
<script type="module" src="{% static 'js/product-card.js' %}"></script>
{% include 'scripts.html' %}
{% endblock %}